{{ 'section-account-menu.css' | asset_url | stylesheet_tag }}

{%  assign handleValue= canonical_url | split:"/" | last %}

<div class="accounts-menu">
  <ul class="accouts-menu-container">
    <li class="menu-options  {% if handleValue == "account" %} active {% endif %}">
        <a  href="/account">
          {% render 'account-svgs-icons' icon:'account' %}
          <span>Account Details</span>
        </a>
    </li>
    <li class="menu-options {% if handleValue == "orders" %}active{% endif %}">
      <a href="/pages/orders">
      {% render 'account-svgs-icons' icon:"order" %}
        <span>My Order</span>
      </a>
    </li>
    <li class="menu-options {% if handleValue == "addresses" %}active {% endif %}">
      <a href="/account/addresses">
        {% render 'account-svgs-icons' icon:"address" %}
        <span>View Address</span>
      </a>
    </li>
    <li class="menu-options {% if handleValue == "wishlist" %}active {% endif %} ">
      <a href="/pages/wishlist">
        {% render 'account-svgs-icons' icon:'wishlist' %}
      <span>WishList</span>
      </a>
    </li>
    <li class="menu-options {% if handleValue == "faq" %}active {% endif %} ">
      <a href="/account/help">
        {% render 'account-svgs-icons' icon:'help' %}
        <span>NeedHelp</span>
      </a>
    </li>
    <li class="menu-options {% if handleValue == "logout" %}active {% endif %} ">
      <a href="/account/logout">
        {% render 'account-svgs-icons' icon:'logout' %}
        <span>SignOut</span>
      </a>
    </li>
  </ul>
</div>
