.custom-rich-text__text-content{
  max-width:586px;
}
.custom-rich-text{
  display:flex;
  align-items:center;
}
.custom-rich-text_preheading{
  color: #000000CC;
  margin: 0px;
}
.custom-rich-text__text-content .scroll-line-animation p{
  margin: 10px 0px 0px;
}
.custom-rich-text__heading a span{
    color: #D03c3f;
}

@media screen and (max-width:750px){
  .custom-rich-text__heading a span{
        color: #D03c3f;
        text-decoration: none;
    }
    .custom-rich-text__text-content{
      max-width:350px;
    }
    
}

/* language animation css */
.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
  transform: rotateX(-90deg);
}
.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
