
.image-banner__slider-section .splide__slide img {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.image-banner__slider-section .splide__slide{
    position: relative;
    top:0px;
    left:0px;
}
.image-banner__splider-content{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  display:flex;
  flex-direction:column;
}
.image-banner__slider-content-container{
  max-width:545px;
  padding:20px 35px;
  margin: 20px;
}
.image-banner__under-order-list{
    backdrop-filter: blur(10px);
    border-radius:20px;
    border:0.8px solid white;
    font-size: 14px;
    margin:0px 0px 10px;
    padding:0px 13px 0px 30px;
    display: inline-block;
}
.image-banner__under-order-list li,h1{
  color: white;
}
.image-banner__slider-content-container .scroll-line-animation p{
  color:#fff;
  margin: 0px 0px 5px;
}
.image-banner__slider-section button.splide__arrow.splide__arrow--prev{
  top: unset;
  bottom: 1%;
  transform : unset;
  background: none;
  cursor: pointer;
  left: 43%;

}
.image-banner__slider-section button.splide__arrow.splide__arrow--prev svg{
  fill : #fff;
  height: 14px;
  width: 14px;
}

.image-banner__slider-section button.splide__arrow.splide__arrow--next{
  top: unset;
  bottom: 1%;
  transform : unset;
  background: none;
  cursor: pointer;
  right: 43%;
}
.image-banner__slider-section button.splide__arrow.splide__arrow--next svg{
  fill : #fff;
  height: 14px;
  width: 14px;
  
}
.image-banner__slider-section button.splide__pagination__page {
  width: 8px;
  height: 8px;
  margin: 0px 15px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  border: 1px solid white;
  margin-bottom: 8px;
}
.image-banner__slider-section button.splide__pagination__page.is-active{
  width: 30px;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width:749px){
  .image-banner__slider-section button.splide__arrow.splide__arrow--prev{
      left: 32%;
  }
  .image-banner__slider-section button.splide__arrow.splide__arrow--next{
      right: 32%;
  }
  .image-banner__slider-section button.splide__pagination__page {
      margin:8px;
  }
  .image-banner__slider-section .splide__slide{
      position: relative;
      padding-bottom: 100%;
      
  }
  .image-banner__slider-section .splide__slide img {
      position: absolute;
      object-fit: cover;  
  }
  
}
@media screen and (min-width:750px) and (max-width:1300px){
  .image-banner__slider-section button.splide__arrow.splide__arrow--prev{
    left: 38%;
  }
  .image-banner__slider-section button.splide__arrow.splide__arrow--next{
      right: 38%;
  }

}


