.custom-rich-text__text-content{
  max-width:586px;
}
.custom-rich-text{
  display:flex;
  align-items:center;
}
.custom-rich-text_preheading{
  color: #000000CC;
  font-weight: 400;
  margin-bottom: 0px;
}
.custom-rich-text__heading p{
  margin: 10px 0px 0px;
}
.custom-rich-text__heading a{
    color: #D03c3f;
    text-decoration: none;
}

.custom-rich-text__heading a {
  position: relative;
}
.custom-rich-text__heading a::before {
  content: "";
  position: absolute;
  background-color: #D03C3F;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.custom-rich-text__heading a:hover::before {
  width: 100%;
}
.custom-rich-text__heading a:not(:hover)::before {
  width: 0;
  right: 0;
  left: auto;
}

/* button animation */
.custom-rich-text__button-container{
  margin:30px 0px 0px;
}
.custom-rich-text__button-container a{
  font-size: 14px;
  background-color: #D03c3f;

}
.custom-rich-text__button-container a {
  position: relative;
  overflow: hidden;
}
.custom-rich-text__button-container a span {
  color: white;
  z-index: 3;
}
.custom-rich-text__button-container a::before {
  content: "";
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 0.4s ease-in-out;
  z-index: 1;
}
.custom-rich-text__button-container a:hover::before {
  width: 100%;
}
.custom-rich-text__button-container a:not(:hover)::before {
  width: 0;
  right: 0;
}
@media screen and (max-width:750px){
    .custom-rich-text__heading a{
        color: #D03c3f;
        font-size: 52px;
        text-decoration: none;
    }
    
}